.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background: $col-black;
    z-index: 1000;
    right: 0;
    left: 0;

    h1 {
        @include calculateRem(72);

        @include media(">=tablet") {
            @include calculateRem(128);
        }
    }
}
